body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    background-color: #000000; /* Color de fondo más oscuro */
    color: #ecf0f1; /* Color de texto claro */
    text-align: right; /* Alinea el texto a la derecha */
    padding: 15px; /* Aumenta el espacio interior */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sutil sombra */
    display: flex;
    justify-content: space-between; /* Espacio entre los elementos */
    align-items: center;
}

.logo {
    width: 50px;
    margin-right: 10px;
}

.slogan p {
    display: inline;
    margin: 0; /* Elimina el margen predeterminado del párrafo */
    font-size: 1.2em; /* Ajusta el tamaño del texto según tus preferencias */
    font-style: italic; /* Aplica un estilo cursiva al texto del slogan */
}   

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px; /* Aumenta el espacio entre los elementos de la lista */
}

nav a {
    text-decoration: none;
    color: #ecf0f1;
    font-weight: bold;
    transition: color 0.3s ease; /* Efecto de transición en el color del texto */
}

nav a:hover {
    color: #8e0000; /* Cambia el color al pasar el ratón sobre los enlaces */
}

/* Estilo para todas las secciones */
.section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* Estilos para sección de inicio */
.inicio {
    background-image: url('img/BACKGROUND\ 1.jpg'); /* Reemplaza 'ruta/de/tu/imagen.jpg' con la ruta correcta de tu imagen */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ecf0f1;
    position: relative;
    overflow: hidden;
    position: relative;
}
/* Fuente de titulo */
@font-face {
    font-family: 'Titulo';
    src: url('Font/Fuente\ Titulo.ttf') format('truetype'); /* Ajusta la ruta según la ubicación real de tu fuente */
    font-weight: normal;
    font-style: normal;
}
/* Fuente cursiva */
@font-face {
    font-family: 'Cursiva';
    src: url('Font/Fuente\ Cursiva.ttf') format('truetype'); /* Ajusta la ruta según la ubicación real de tu fuente */
    font-weight: normal;
    font-style: normal;
}
/* Efecto fade in */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* Efecto maquina de escribir */
@keyframes typeWriter {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.inicio h1 {
    z-index: 1;
    font-family: 'Titulo', sans-serif; /* Utiliza la fuente local */
            overflow: hidden;
            white-space: nowrap;
            animation: typeWriter 5s steps(40) 0s forwards; /* Agrega la animación typeWriter y fadeIn */
}

.inicio p {
    z-index: 1;
    animation: fadeIn 1s ease-in-out; /* Agrega la animación fadeIn */
}

/* Estilos para el carrusel */
.image-container {
    position: relative;
    overflow: hidden;
    width: 300px; /* Ajusta el ancho deseado */
    height: 300px; /* Ajusta la altura deseada */
    border-radius: 15px; /* Ajusta el radio de borde deseado */
    animation: fadeIn 1s ease-in-out; /* Agrega la animación fadeIn */
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px; /* Ajusta el radio de borde deseado */
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.image-container:hover img {
    transform: scale(1.03); /* Escala la imagen al pasar el mouse */
}

/* Estilos para los botones de redes sociales */
.whatsapp-button,
.facebook-button,
.instagram-button,
.tiktok-button,
.youtube-button {
    position: fixed;
    bottom: 20px; /* Ajusta la posición en la parte baja */
    z-index: 999;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    animation: fadeIn 2s ease-in-out; /* Agrega la animación fadeIn */
}

.social-button img {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.social-button:hover {
    transform: scale(1.2);
}

/* Ajusta el tamaño de los iconos según tus necesidades */
.whatsapp-button a img,
.facebook-button a img,
.instagram-button a img,
.tiktok-button a img,
.youtube-button a img {
    max-width: 50px;
    max-height: 50px;
    margin-left: 10px; /* Espaciado entre los botones */
}

/* Posicionamiento y efectos */
.youtube-button {
    right: 20px;
}

.tiktok-button {
    right: 80px;
}

.instagram-button {
    right: 140px;
}

.facebook-button {
    right: 200px;
}

.whatsapp-button {
    right: 260px;
}

/* Efectos al pasar el mouse */
.youtube-button:hover,
.tiktok-button:hover,
.instagram-button:hover,
.facebook-button:hover,
.whatsapp-button:hover {
    transform: scale(1.4);
}



/* Estilos para sección de servicios */
.servicios {
    background-image: url('img/BACKGROUND\ 2.jpg'); /* Reemplaza 'ruta/de/tu/imagen.jpg' con la ruta correcta de tu imagen */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ecf0f1;
    position: relative;
    overflow: hidden;
    position: relative;
}

/* Estilos para sección de productos */
.productos {
    background-image: url('img/BACKGROUND\ 2.jpg'); /* Reemplaza 'ruta/de/tu/imagen.jpg' con la ruta correcta de tu imagen */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ecf0f1;
    position: relative;
    overflow: hidden;
    position: relative;
}

/* Estilos para sección de contacto */
.contacto {
    background-image: url('img/BACKGROUND\ 2.jpg'); /* Reemplaza 'ruta/de/tu/imagen.jpg' con la ruta correcta de tu imagen */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ecf0f1;
    position: relative;
    overflow: hidden;
    position: relative;
}


